@model Nile.Mvc.Models.CustomerModel
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>

<fieldset>
    <legend>Customer</legend>

    <div class="display-label">First Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">Last name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">Full Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>